.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(70deg, #c0d2f9, #7d9bdb);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 50px;
  min-height: 60%;
  width: 35%;
  box-shadow: 1px 3px 10px 2px rgba(51, 51, 51, 0.3);
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
